.footer {
    &__content {
        padding: 0 250px;
        padding-top: 98px;
        padding-bottom: 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 95px;
    }

    &__column {
        &:nth-child(2) {
            margin-left: -60px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__list {
        &--row {
            display: flex;
            align-items: center;

            .footer__item {
                margin-bottom: 0;

                &:not(:last-child) {
                    margin-right: 43px;
                }
            }
        }
    }

    &__link {
        font-size: 13px;
        color: var(--color-tundora);

        &--row {
            font-weight: 700;
            font-size: 13px;
            color: var(--dark-color);
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 37px;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
    }

    &__form {
        margin-bottom: 25px;
        transform: translateY(3px);
        width: 646px;
    }

    &__text {
        color: var(--dark-color);
        font-weight: 500;
        font-size: 13px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #eeeeee;
        padding: 40px 0;
    }

    &__social {
        margin-right: 12px;
    }
}

.subscribe-form {
    position: relative;

    &__title {
        margin: 0;
        margin-bottom: 38px;
        font-weight: 500;
        font-size: 13px;
        color: var(--color-tundora);       
    }

    &__btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 55px 10px;
        z-index: 2;
        font-weight: 500;
        font-size: 13px;
        color: var(--dark-color);
    }

    &__field {
        display: block;
        border-bottom: 2px solid var(--dark-color);
        padding-bottom: 10px;
        width: 100%;

        input {
            width: 100%;
            padding-right: 80px;
            border: none;
            font-weight: 500;
            font-size: 13px;
            color: var(--dark-color);

            &::placeholder {
                color: var(--color-tundora);
                opacity: 0.5;
            }
        }
    }
}

.social {
    display: flex;
    align-items: center;

    &__item {
        &:not(:last-child) {
            margin-right: 29px;
        }
    }

    &__link {
        display: block;
        width: 16px;
        height: 16px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &--tw {
            background-image: url("../../img/tw.png");
        }
    
        &--fb {
            background-image: url("../../img/fb.png");
        }
    
        &--in {
            background-image: url("../../img/in.png");
        }
    
        &--pin {
            background-image: url("../../img/pin.png");
        }
    }

}