.shop-banners {
    padding-top: 45px;

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
}

.shop-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 50px;
    min-height: 420px;
    color: var(--light-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark-color);

    &__title {
        position: relative;
        margin: 0;
        margin-bottom: 20px;
        z-index: 1;
        font-weight: 500;
        font-size: 48px;
    }

    &__text {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(#d70808, 0.1);
    }

    &--men {
        background-image: url("../../img/banner1.png");
    }

    &--women {
        background-image: url("../../img/banner2.png");
    }
}